[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Exec=python /opt/dell-g15-ledControl/main.py
Name=Dell G15 Led Controller
Icon=/opt/dell-g15-ledControl/alien.svg